<html>
<head>
    <script src="scripts/jquery-1.8.3.min.js"></script>
    <script src="scripts/knockout-2.2.0.js"></script>
    <script src="login.js"></script>
    <link type="text/css" rel="stylesheet" href="login.css"/>
    <link type="text/css" rel="stylesheet" href="fields.css"/>
</head>
<body>
<form id="loginDialog" class="loginDialog" method="post">
    <div class='header'>Taskit</div>
    <div><span class='fieldLabel'>Login</span><span><input id='txtLogin' data-bind="value: login"/></span></div>
    <div><span class='fieldLabel'>Password</span><span><input id='txtPassword' type="password" data-bind="value: password" /></span></div>
    <div class="login"><input id='btnLogin' type='button' value='login' data-bind="click: loginClicked" /></div>
</form>
</body>
</html>